@{
    ViewBag.Title = "Index";
}
<h3>CHIP-8</h3>
<p> 
CHIP-8 is an interpreted programming language, developed by Joseph Weisbecker. It was initially used on the COSMAC VIP and Telmac 1800 8-bit microcomputers in the mid-1970s. CHIP-8 programs are run on a CHIP-8 virtual machine. It was made to allow video games to be more easily programmed for said computers.
Roughly twenty years after CHIP-8 was introduced, derived interpreters appeared for some models of graphing calculators (from the late 1980s onward, these handheld devices in many ways have more computing power than most mid-1970s microcomputers for hobbyists).
An active community of users and developers existed in the late 1970s, beginning with ARESCO's "VIPer" newsletter whose first three issues revealed the machine code behind the CHIP-8 interpreter.
</p>
<h3>CHIP-8 applications</h3>
<p>
There are a number of classic video games ported to CHIP-8, such as Pong, Space Invaders, Tetris, and Pac-Man. There's also a random maze generator available. These programs are reportedly placed in the public domain, and can be easily found on the Internet.
</p>
@section SideBar{
    <ul class="nav nav-list  navbar-fixed-top">
        <li class="nav-header">List header</li>
        <li class="active"><a href="#">CHIP-8</a></li>
        <li><a href="#">CHIP-8 applications</a></li>        
    </ul>
}