<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C8POC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <C8POC.Properties.Settings>
            <setting name="FramesPerSecond" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CyclesPerFrame" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SelectedGraphicsPlugin" serializeAs="String">
                <value>C8POC.Plugins.Graphics.SDLPlugin.SDLPlugin</value>
            </setting>
            <setting name="SelectedSoundPlugin" serializeAs="String">
                <value>C8POC.Plugins.Sound.ConsoleBeep.ConsoleSoundBeepPlugin</value>
            </setting>
            <setting name="SelectedKeyboardPlugin" serializeAs="String">
                <value>C8POC.Plugins.Keyboard.SystemWindowsKeyboard.SystemWindowsKeyboardPlugin</value>
            </setting>
        </C8POC.Properties.Settings>
    </userSettings>
</configuration>